<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Taksila-ProgramFlow/src/pc/petko/loops/NumberPrinter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="pc.petko.loops.NumberPrinter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Taksila-ProgramFlow"/>
</launchConfiguration>
